# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python envs
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Secrets / env
.env
*.env
.env.* 

# Build / logs / DBs
*.log
*.sqlite3
*.db
dist/
build/

# Static/media (if you serve them separately)
staticfiles/
media/